<div class="container mt-3" >
  <h2>植物情報の編集</h2>
    <%= form_with model: @plant, url: admin_plant_path do |f| %>
      <div class="form-group mt-4">
        <%= f.label :name, "植物名：" %>
        <%= f.text_field :name, class: "ml-2" %>
      </div>
      <div class="form-group">
        <%= f.label :genre, "属名：", class: "ml-3" %>
        <%= f.text_field :genre, class: "ml-2" %>
      </div>
        <%= f.submit "変更を保存", class: "btn btn-primary" %>
    <% end %>
</div>
