<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>多肉植物名</th>
      <th>品種名</th>
      <th>ユーザー名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% post_plants.each do |post_plant| %>
      <tr>
        <td>
          <%= link_to post_plant_path(post_plant.id) do %>
            <%= image_tag post_plant.get_image(100,100) %>
            <%= post_plant.title %>
          <% end %>
          
        </td>
        <td><%= post_plant.plant.name %></td>
        <td><%= post_plant.plant.genre %></td>
        <td><%= post_plant.user.name%></td>
        <td>
          <% if post_plant.favorited_by?(current_user) %>
            <%= link_to post_plant_favorites_path(post_plant), method: :delete do %>
              <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= post_plant.favorites.count %>
            <% end %>
          <% else %>
            <%= link_to post_plant_favorites_path(post_plant), method: :post do %>
              <i class="fas fa-heart" aria-hidden="true"></i>
              <%= post_plant.favorites.count %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= post_plant.comments.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>