<h2>投稿一覧</h2>

<% if user_signed_in? %>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :search, :placeholder =>"アロエ、サボテン等" %>
    <%= f.submit '検索', class: "btn btn-primary" %>
  <% end %>




  特徴から探す
  <% @tags.each do |tag| %>
    :<%= link_to tag.name, search_path(tag_ids: tag.name) %>
  <% end %>

<% end %>

<%= render 'public/post_plants/index', post_plants: @post_plants %>
