<% if flash[:notice] %>
  <div class="notification bg-primary">
    <p class="notice text-center text-light py-3"><%= notice %></p>
  </div>
<% end %>
<div class="container mt-4">
  <div class="row">
    <div class="col-8">
      <%= render 'public/post_plants/index', post_plants: @post_plants %>
    </div>
    <div class="col-4 mt-3">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <div class="input-group input-group-sm mb-3">
          <%= f.text_field :search, :placeholder =>"植物名", class: "form-control col-6" %>
          <div class="input-group-append">
            <%= f.submit '検索', class: "input-group-text" %>
          </div>
        </div>
        <p class="pt-2">特徴から探す</p>
          <% @tags.each do |tag| %>
            <div>
              <%= link_to tag.name, search_path(tag_ids: tag.name), class: "btn btn-outline-secondary btn-sm m-1 p-1" %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
