<div class="container">
	<h2>投稿画面</h2>

<%= form_with model: @post_plant, url: post_plants_path do |f| %>
	<div>
		<%= f.label :name, "多肉植物名:" %>
		<%= f.select :plant_id, options_from_collection_for_select(Plant.all, :id, :name) %>
	</div>
	<div>
		<%= f.label :area, "場所:" %>
		<%= f.select :area, PostPlant.areas.keys, {} %>
	</div>
	<div>
		<%= f.label :title, "タイトル:" %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :explanation, "本文:" %>
		<%= f.text_area :explanation %>
	</div>
	
	<div>
		<%= f.label :name, "特徴:" %>
		<%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
  		<%= tag.label { tag.check_box + tag.text } %>
  	<% end %>
	</div>
  
	　

	<%= f.submit "投稿", class: "btn btn-primary ml2" %>
<% end %>
</div>

