<div class="card-list-container">
  <div class="card w-50 mt-5 mx-auto shadow-lg">
    <h3 class="text-center bg-light pt-3 mb-3"><%= @post_plant.title %></h3>
    <div class="mx-auto">
        <%= link_to @post_plant.user.name, user_path(@post_plant.user) %>さん
      <table class="table table-sm table-bordered">
        <tbody>
          <tr>
            <th class="table-warning">植物名</th>
            <td><%= @post_plant.plant.name %></td>
          </tr>
          <tr>
            <th class="table-warning">属名</th>
            <td><%= @post_plant.plant.genre %></td>
          </tr>
          <tr>
            <th class="table-warning">地域</th>
            <td><%= @post_plant.area %></td>
          </tr>
          <tr>
            <th class="table-warning">特徴(タグ)</th>
            <td>
              <% @tags.each do |tag| %>
                <div>：<%= tag.name %></div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-4">
        <div>
          <%= image_tag @post_plant.get_image(500,500), :size =>'400x300' %>
        </div>
        <div class="container-fluid">
          <div class="row">
            <span>作成日<%= @post_plant.created_at.strftime('%Y/%m/%d') %></span>
            <div class="ml-auto">
              <%= render "public/favorites/favorite", post_plant: @post_plant %>
            </div>
          </div>
        </div>
        <div class="bg-light rounded p-3" style="max-width:400px;"><%= simple_format @post_plant.explanation %></div>
      </div>
    <%= render "public/comments/index", post_plant: @post_plant %>
    <%= render "public/comments/form", post_plant: @post_plant, comment: @comment %>
    </div>
  </div>
</div>
