<div class="container mt-3">
  
  <h3><%= @post_plant.title %></h3>
  <div>
    <%= @post_plant.user.name %>さん
  </div>

  <table class="table table-sm table-bordered">
    <tbody>
      <tr>
        <th class="table-warning col-3">植物名</th>
        <td><%= @post_plant.plant.name %></td>
      </tr>
      <tr>
        <th class="table-warning col-3">属名</th>
        <td><%= @post_plant.plant.genre %></td>
      </tr>
      <tr>
        <th class="table-warning col-3">地域</th>
        <td><%= @post_plant.area %></td>
      </tr>
      <tr>
        <th class="table-warning col-3">特徴(タグ)</th>
        <td>
          <% @tags.each do |tag| %>
            ：<%= tag.name %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
 
  <div>
    <%= image_tag @post_plant.get_image(250,250) %>
  </div>
  <div>作成日<%= @post_plant.created_at.strftime('%Y/%m/%d') %></div>
  <div><%= @post_plant.explanation %></div>

  <div><%= render "public/favorites/favorite", post_plant: @post_plant %></div>

  <%= render "public/comments/index", post_plant: @post_plant %>
  <%= render "public/comments/form", post_plant: @post_plant, comment: @comment %>

</div>

