<div class="container mt-3">
	<h2>
  <%= @user.name %>さんの投稿一覧 
</h2>
<table class="table table-hover">
  <thead>
    <tr class="text-center">
	  	<th>投稿ID</th>
	  	<th>投稿名</th>
	  	<th>植物名</th>
	  	<th>属名</th>
	</tr>
  </thead>
  <tbody>
    <% @post_plants.each do |post_plant| %>
	  <tr class="text-center">
	    <td><%= post_plant.id %></td>
			<td><%= link_to post_plant.title, admin_post_plant_path(post_plant) %></td>
			<td><%= post_plant.plant.name %></td>
			<td>:<%= post_plant.plant.genre %></td>
	  </tr>
	<% end %>
  </tbody>
</table>
</div>
