<section class="inner">
  <h2 class="section-ttl"><%= @user.name %> さんの会員情報編集</h2>
	<%= form_with(model: @user, url: admin_user_path(@user), local: true) do |f| %>
	  <%= render 'layouts/error_messages', resource: @user %>
	    <table class="user_info user_form">
		  <thead>
		    <th></th>
			<th></th>
			<th></th>
		  </thead>
		  <tbody>
		    <tr>
			  <td>名前</td>
        <td><%= f.label :name, "名前", class: "user_name" %> <%= f.text_field :name, :placeholder =>"#{@user.name}" %></td>
			</tr>
			<tr>
			  <td>メールアドレス</td>
				<td colspan="2"><%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@user.email}" %></td>
			</tr>
			<tr>
			  <td>会員ステータス</td>
			  <td><%= f.radio_button :is_active, true %><%= f.label :is_active, "有効", class: "text-active" %></td>
			  <td><%= f.radio_button :is_active, false %><%= f.label :is_active, "退会済み", class: "text-invalid" %></td>
			</tr>
			<tr>
			  <td colspan="3"><%= f.submit "更新", class: "btn btn-primary" %></td>
		    </tr>
	      </tbody>
		</table>
	<% end %>
</section>