<div class="container mt-3">
  <h2><%= @user.name %>さんのページ</h2>
    <table class="table table-md table-borderless ">
	  	<tbody>
	  		<tr>
		  		<td class="col-2">会員ID</td>
		  		<td class="text-left"><%= @user.id %></td>
				</tr>
				<tr>
		  		<td class="col-2">名前</td>
		  		<td><%= @user.name %></td>
				</tr>
				<tr>
		  		<td class="col-2">メールアドレス</td>
		  		<td><%= @user.email %></td>
				</tr>
				<tr>
		  		<td class="col-2">会員ステータス</td>
		  		<td>
		    		<% if @user.is_active? %>
		      		<span class="text-active">有効	</span>
		    		<% else %>
		      		<span class="text-invalid">退会済み</span>
		    		<% end %>
		  		</td>
			</tr>
	  </tbody>
	</table>
	<%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-success" %>
	<%= link_to "投稿一覧", admin_user_post_plants_path(@user), class: "btn btn-primary ml-4" %>
</div>