<% if @user.errors.any? %>
  <div class="notification bg-danger">
    <%= @user.errors.count %>件のエラーが発生しました
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container col-5 mt-3">
  <div class="mx-auto">
    <h3>プロフィール編集</h3>
    <%= form_with model: @user, url: user_path(@user) do |f| %>
      <div class="form-group">
        <%= f.label :name, "ユーザー名" %>
        <%= f.text_field :name, class: "form-control col-5" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: "form-control col-5" %>
      </div>

      <div>
        <%= f.label :profile_image, "プロフィール画像" %>
        <div>
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
      </div>
      <%= f.submit "更新する", class: "btn btn-success mt-4" %>
      <%= link_to "退会する", users_unsubscribe_path, class: "btn btn-danger mt-4 ml-3" %>
    <% end %>
  </div>
</div>