<% if flash[:notice] %>
  <div class="notification bg-primary">
    <p class="notice text-center text-light py-3"><%= notice %></p>
  </div>
<% end %>
<div class="container mt-5">
  <div class="row">
    <div class="card-container col-3">
      <div class="card ml-5 mt-4 shadow-lg">
        <div class="card body">
          <%= image_tag @user.get_profile_image(200,200), class: "mx-4 mt-3" %>
          <div class="mx-auto mb-3">
            <%= @user.name %>さん
          </div>
          <div class="mx-auto">
            <% if @user == current_user %>
              <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-block btn-success mb-3" %>
            <% end %>
          </div>
          <div class="mx-auto">
            <p><%=link_to "お気に入り記事",favorites_user_path(@user), class: "btn btn-block btn-info mb-3 px-3" %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 offset-2">
      <h4><strong><%= @user.name %></strong>さんのそだレポ</h4>
      <% @post_plants.each do |post_plant| %>
        <%= link_to post_plant_path(post_plant) do %>
          <%= image_tag post_plant.get_image(150,150), class:"mx-4 mt-3"; %>
          <div class="ml-4">
            <%= post_plant.title %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

