<!DOCTYPE html>
<html>
  <head>
    <title>Succulent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <header class="admin_header">
        <div class="header-content">
          <%= link_to 'Succulent', admin_top_path %>
          <ul class="flex">
            <li><%= link_to '商品一覧', admin_items_path %></li>
            <li><%= link_to '会員一覧', admin_customers_path %></li>
            <li><%= link_to '注文履歴一覧', admin_orders_path %></li>
            <li><%= link_to 'ジャンル管理', admin_genres_path %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          </ul>
          <%= form_tag(admin_search_path, method: :get) do %>
            <%= text_field_tag "search[content]", "", :placeholder =>"会員: 姓,名,セイ,メイ / 商品: 商品名" %>
            <%= select_tag "search[model]", options_for_select({ "会員" => "customer", "商品" => "item" }) %>
            <%= select_tag "search[method]", options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>
            <%= submit_tag '検索', class: "btn btn-primary" %>
          <% end %>
        </div>
      </header>
    <% elsif user_signed_in? %>
      <header>
        <div class="header-content">
          <%= link_to 'Succulent', root_path %>
          <ul class="flex">
            <p>ようこそ、<%= current_user.name %>さん!</p>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </header>
    <% else %>
      <header>
        <div class="header-content">
          <%= link_to 'Succulent', root_path %>
          <ul class="flex">

            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          </ul>
        </div>
      </header>
    <% end %>


    <%= yield %>
  </body>
</html>
