<!DOCTYPE html>
<html>
  <head>
    <title>Succulent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <header class="admin_header">
        <div class="header-content">
          <%= link_to 'Succulent', admin_root_path %>

        </div>
      </header>
    <% elsif user_signed_in? %>
      <header>
        <div class="header-content">
          <%= link_to 'Succulent', root_path %>
          <ul class="flex">
            <p>ようこそ、<%= current_user.name %>さん!</p>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </header>
    <% else %>
      <header>
        <div class="header-content">
          <%= link_to 'Succulent', root_path %>
          <ul class="flex">
            <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          </ul>
        </div>
      </header>
    <% end %>


    <%= yield %>
  </body>
</html>
